.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.table {
  width: 400px;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.dropdown {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
}

.dropdown option {
  font-size: 16px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #4b71ff;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #3358d1;
}

.button span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}


.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.description-input {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #4b71ff;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #3358d1;
}